{% for sem in site.data.sem2_2024 %}
    <br>
    <p> 
    Hi everyone, 
    </p>
    <p> 
    This week's speaker in the University of Sydney Philosophy Seminar Series is {{ sem.speaker }} {% if sem.affiliation %}, ({{ sem.affiliation }}) {% endif %}
    </p> 
    <p>The title of the talk is {{ sem.title }}. Here is an abstract for the talk: </p> 
    <blockquote> {{ sem.abstract }} </blockquote> 
    <p> The seminar will take place at 3:30pm on {{ sem.date }} in the Philosophy Seminar Room N494. </p> 
{% endfor %}


