---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emails</title>
  </head>
  <body>

	  <p> Here are the sydphil@mailman.sydney.edu.au emails for the semester. </p>

{% for sem in site.data.sem2_2024 %}
<hr> 
<h3>Week {{ sem.week }} </h3> 
    <p>Subject: University of Sydney Philosophy Seminar Series, {{ sem.speaker }} {% if sem.affiliation %}, ({{ sem.affiliation }}) {% endif %} </p>
    <p> 
    Hi everyone, 
    </p>
    <p> 
    This week's speaker in the University of Sydney Philosophy Seminar Series is {{ sem.speaker }} {% if sem.affiliation %}, ({{ sem.affiliation }}) {% endif %}
    </p> 
    <p>The title of the talk is "{{ sem.title }}". Here is an abstract for the talk: </p> 
    <blockquote> {{ sem.abstract }} </blockquote> 
    <p> The seminar will take place at 3:30pm on {{ sem.date }} in the Philosophy Seminar Room (N494). </p> 
    <p> Enquiries about the seminar series can be directed to ryan.cox@sydney.edu.au</p>
    <p> Ryan Cox <br>
    Associate Lecturer in Philosophy <br>
    Discipline of Philosophy <br>
    School of Humanities <br>
    University of Sydney <br>
    ryan.cox@sydney.edu.au </p>
{% endfor %}

</body>
</html>
